.card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:12vw;
    height: 11vh;
    color:white;
}
h4{
    margin:0px;
}
p{
    margin:0px;
}
.orange{
    background-color: #f57505;
}

.green{
    background-color: #00a113;
}

.blue{
    background-color: #0099e6;
}

.red{
    background-color: #fa0707;
}
