/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;padding-right:5px; }

::-webkit-scrollbar{
    width: 0.5rem;
}
::-webkit-scrollbar-thumb{
    border-radius:10px;
    background-color: rgb(90, 142, 255);
}
::-webkit-scrollbar-track{
    background-color: rgb(216, 216, 216);
}